<template>
  <q-card class="my-card q-dark">
    <img :src="url" style="height: 300px; width: auto" />
    <q-card-section>
      <div class="text-h6">{{ nom }}</div>
    </q-card-section>
  </q-card>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "CarteComposant",
  props: {
    nom: {
      type: String,
      required: true,
    },

    url: {
      type: String,
      default: "",
    },

    id: {
      type: String,
      default: "",
    },
  },
});
</script>
