<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md example-row-equal-width">
      <div class="row justify-center">
        <div class="col text-center">
          <img :src="data" style="height: 600px; width: auto" />
        </div>
      </div>
      <div class="row justify-center">
        <div class="col text-center">
          <q-btn
            rounded
            color="primary"
            size="xl"
            :label="open ? 'Restart' : 'Open'"
            @click="open ? retart() : fetchData()"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import axios from "axios";

export default defineComponent({
  name: "IndexPage",
  setup() {
    const data = ref(
      "https://www.models-resource.com/resources/big_icons/28/27385.png?updated=1542515866"
    );
    let open = ref(false);
    return {
      data,
      open,
    };
  },
  methods: {
    retart() {
      this.open = false;
      this.data =
        "https://www.models-resource.com/resources/big_icons/28/27385.png?updated=1542515866";
    },
    async fetchData() {
      try {
        const randomId = Math.floor(Math.random() * 3) + 1;
        const url = `http://127.0.0.1:8000/api/pokemon/${randomId}`;
        this.open = true;
        const response = await axios.get(url, {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        });
        this.data = response.data.url;
      } catch (error) {
        this.data = "Err";
      }
    },
  },
});
</script>
