<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md example-row-equal-width">
      <div class="row justify-center">
        <div class="col text-center">
          <h4>Pokedex</h4>
        </div>
      </div>
      <div class="row justify-center">
        <template v-if="pokemons.length > 0">
          <Card
            v-for="pokemon in pokemons"
            :key="pokemon.id"
            :nom="pokemon.nom"
            :urlm="pokemon.url"
            v-bind="pokemon"
          />
        </template>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import axios from "axios";
import Card from "components/Card.vue";

export default defineComponent({
  name: "IndexPage",
  components: { Card },

  setup() {
    const pokemons = ref([]);
    return {
      pokemons,
    };
  },

  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      try {
        const response = await axios.get("http://127.0.0.1:8000/api/pokemons", {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        });
        this.pokemons = response.data;
        console.log(this.pokemons);
      } catch (error) {
        console.error(error);
      }
    },
  },
});
</script>
