<template>
  <q-page class="flex flex-center">
    <h4>Mon profil</h4>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import axios from "axios";

export default defineComponent({
  name: "IndexPage",
  setup() {
    const data = ref("");
    return {
      data,
    };
  },
  methods: {
    async fetchData() {
      try {
        const response = await axios.get("http://127.0.0.1:8000/api/test", {
          headers: {
            "Access-Control-Allow-Origin": "*",
          },
        });
        this.data = response.data;
      } catch (error) {
        this.data = "Err";
      }
    },
  },
});
</script>
